* {
	margin: 0;
}

html, body {
	height: 100%;
	overflow: hidden;
}

.container {
	min-height: 100%;
	height: auto !important;
	height: 100%;
	margin: 0 auto -4em;
}

li a {
	position: relative;
	display: inline-block;
	text-decoration: none;
	font-family: arial;
	color: black;
	float: left;
	padding: 5px;
	font-size: 13px;
	font-weight: 600;
	margin-top: 2px;
	margin-right: 13px;
}

#nav {
	height:30px;
	text-align: right;
	width: 100%;
}

#nav li {
	float: right;
}

img {
	width: 269px;
	height: 95px;
	margin: auto;
	position: absolute;
	top: 0; left: 0; bottom: 0; right: 0;
}

input {
	width: 550px;
	height: 25px;
	border: 1px solid #3492F7;
	margin-top: 26%;
	margin-left: 33%;
	margin-right: 67%;
}

#footer, .push {
	height: 4em;
}

ul {
	list-style-type: none;
}